@model TSBLiving.Login
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <head>
        <meta charset="UTF-8">
        <title> Login and Registration Form in HTML & CSS | CodingLab </title>
        <link href="~/CSS/Login.css" rel="stylesheet" />
        <!-- Fontawesome CDN Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <input type="checkbox" id="flip">
            <div class="cover">
                <div class="front">

                    <img src="~/Image/6c8c6e21c8ec0b4faedb7df3656a33d2.jpg" />
                    <div class="text">
                        @*<span class="text-1">Affordable Living <br> at its Best</span>*@
                        @*<span class="text-2"></span>*@
                    </div>
                </div>
                <div class="back">
                    <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
                    <div class="text">
                        <span class="text-1">Complete miles of journey <br> with one step</span>
                        <span class="text-2">Let's get started</span>
                    </div>
                </div>
            </div>
            <div class="forms">
                <div class="form-content">
                    <div class="login-form">
                        <div class="title">Login</div>
                        <form action="#">
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    @Html.TextBoxFor(a => a.Username, new { @placeholder = "Username", @type = "text", required = "required" })
                                    @*<input type="text" placeholder="Enter your username" required>*@
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    @Html.PasswordFor(a => a.Password, new { @placeholder = "Password", @type = "password", required = "required" })
                                    @*<input type="password" placeholder="Enter your password" required>*@
                                </div>

                                <div class="button input-box">
                                    <input type="submit" value="Login">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
